.App {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.user {
  position: relative;
  width: fit-content;
  top: 30px;
  right: 30px;
  background: blueviolet;
}

.topnav {
  background: white;
  margin: 0 auto;
  box-shadow: 0 15px 16px 0.17px rgba(0, 0, 0, 0.05);
  max-width: 1000px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.imageContainer {
  position: relative;
  text-align: center;
  color: white;
  float: right;
}
.pageName {
  position: relative;
  left: 10%;
  color: whitesmoke;
  font-size: 40px;
  font-family: Arial;
  font-weight: normal;
}

.form-container {
  background: #f3f3f3;
  padding: 30px;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 15px 16px 0.17px rgba(0, 0, 0, 0.05);
}

.form-horizontal {
  background: white;
  border-style: dotted;
  border-radius: 25px;
  padding: 30px;
  border-color: #c0c0c0;
}

h1 {
  text-align: center;
}

.error-message {
  color: red;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: stretch;
}

.flex-item {
  width: 100px;
  flex-grow: 1;
  text-align: justify;
}

ul {
  list-style-type: none;
}

.profilePicture {
  width: 100%;
  height: 100%;
}
.image-upload > input {
  display: none;
}

.react-html5-camera-photo > img,
.react-html5-camera-photo > video {
  width: 250px;
}
